*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Plataformas (geradas por `flutter create .`)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/
*.log
